<template name='home'>


    <div class="container">
        <h1>Project Title</h1>

        <p class="lead">Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.
            Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.
            Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.
            Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.
            Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.
            Don't forget to be the first person to go to yourWebsite.com/admin to claim the first admin user.</p>

        <p>{{#unless currentUser}}<a class="btn btn-lg btn-success" href="{{pathFor route='login'}}" role="button">Get started today</a> or {{/unless}}
            <a class="btn btn-lg btn-default" href="{{pathFor route='features'}}" role="button">Learn more</a></p>
    </div>

    <hr class="divider">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Features</h2>

                <p>Aww, yer not trading me without a love! Grow unlawfully like a scrawny lagoon. God, never vandalize a
                    pin. The sea-dog marks with amnesty, hoist the galley before it stutters. The pegleg fires with
                    fight, desire the bikini atoll.</p>

                <p><a class="btn btn-default" href="{{pathFor route='features'}}" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>About </h2>

                <p>The cloudy sea smartly trades the codfish. Waves sing from amnesties like rough fishs. Sail me shark,
                    ye jolly sun! When the grog travels for madagascar, all winds drink big, proud mainlands. Urchin ho!
                    fire to be commanded.</p>

                <p><a class="btn btn-default" href="{{pathFor route='about'}}" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Contact </h2>

                <p>Ah, addled adventure! Anchors sing with booty! The jolly captain roughly hails the rum. God! Pieces
                    o' amnesty are forever real. Shores whine with urchin at the weird tortuga! Shiny, undead jolly
                    rogers awkwardly taste a scurvy, mighty shark.</p>

                <p><a class="btn btn-default" href="{{pathFor route='contact'}}" role="button">View details &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</template>
