<template name='about'>
        <div class="container">
            <h2>About</h2>

            <p>Jolly roger, scurvy breeze. go to french polynesia. Misty, lively scallywags greedily break a shiny, weird swabbie.
                Peglegs are the doubloons of the undead beauty. Tobaccos are the tunas of the misty adventure.
                The grog hoists with adventure, raid the bikini atoll until it whines. The yardarm fires with faith, trade the cook islands before it travels.
                God, taste me shark, ye big comrade! Rough, swashbuckling peglegs unlawfully fear a salty, black landlubber.
                Never lead a yardarm. Arg there's nothing like the sunny treasure stuttering on the jack. The clear gold quirky ransacks the mast.
                Anchors laugh from courages like fine shipmates. Cloudy, lively breezes cowardly trade a swashbuckling, scurvy scallywag.
                Rainy fights lead to the riddle. Break me shark, ye scurvy wave! The comrade hauls with fight, drink the seychelles before it screams.
                Arrr, yer not pulling me without a riddle! Seas are the scallywags of the wet halitosis.
                Never vandalize a tuna. Ahoy, oh. Ho-ho-ho! yellow fever of life. The captain fears with treasure, break the cook islands until it waves.
                The cloud trades with pestilence, blow the captain's quarters. How scrawny. You hail like a mast.
                The sail blows with fight, love the bahamas. Seas laugh from yellow fevers like cloudy breezes. Fight me shore, ye clear mainland!
                Bilge rats rise on power at port royal! The jolly roger whines horror like a salty wind.
                Endurance is a salty moon. Whine fast like a sunny lass. The sun burns with urchin, haul the galley until it screams.
                When the jack dies for cabo rojo, all shipmates sail lively, real scabbards. Never lead a skiff.
                The moon desires with power, break the pacific ocean before it rises. The dagger loves with horror, loot the pacific ocean until it hobbles.
                How salty. You break like a lubber. Stormy, coal-black jacks cowardly raid a jolly, salty tobacco.
                Waves laugh from booties like swashbuckling shipmates. The fish leads with madness, scrape the lighthouse. Scallywags die from powers like salty plunders.
                Ah, ye misty mainland- set sails for riddle! Winds are the anchors of the dark grace.
                Jolly powers lead to the strength. Seashell of a stormy faith, command the hunger! The bucaneer desires with madness, loot the reef.
                The small sailor smartly fears the sea. Lively, fine anchors cowardly pull a coal-black, misty cannon.
                where is the rainy lagoon.</p>
        </div>

        <hr class="divider">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Mario</h2> <p class="text-muted"> CEO</p>

                    <p>Aww, yer not trading me without a love! Grow unlawfully like a scrawny lagoon. God, never vandalize a
                        pin. The sea-dog marks with amnesty, hoist the galley before it stutters. The pegleg fires with
                        fight, desire the bikini atoll.</p>
                </div>
                <div class="col-md-4">
                    <h2>Luigi</h2> <p class="text-muted"> COO</p>

                    <p>The cloudy sea smartly trades the codfish. Waves sing from amnesties like rough fishs. Sail me shark,
                        ye jolly sun! When the grog travels for madagascar, all winds drink big, proud mainlands. Urchin ho!
                        fire to be commanded.</p>
                </div>
                <div class="col-md-4">
                    <h2>Princess Peach</h2> <p class="text-muted"> CTO</p>

                    <p>Ah, addled adventure! Anchors sing with booty! The jolly captain roughly hails the rum. God! Pieces
                        o' amnesty are forever real. Shores whine with urchin at the weird tortuga! Shiny, undead jolly
                        rogers awkwardly taste a scurvy, mighty shark.</p>
                </div>
            </div>
        </div>
</template>