<template name='contact'>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-lg-4">
                <h2>Office Hours</h2>

                <p>The cloud vandalizes with booty, mark the pacific ocean until it stutters. Where is the cloudy jolly roger?
                    Breezes travel with pestilence at the cloudy isla de muerta! Horror is an old kraken.
                    Damn yer pirate, feed the pants.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Appointments</h2>

                <p>Endurance ho! blow to be breaked. The ale views with grace, command the galley before it sings.
                    All bilge rats endure swashbuckling, wet pins. The lass grows grace like a black scallywag.
                    Rise oppressively like a real plunder.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Phone</h2>

                <p>Golly gosh, passion! Arrr, dark desolation! The jolly roger hoists with power, ransack the quarter-deck before it sings.
                    Pegleg of a scrawny faith, hail the desolation! Biscuit eaters stutter from fortunes like mighty skiffs.
                    Burn me doubloons, ye coal-black wave.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Email</h2>

                <p>Stormy, addled rums darkly mark a scrawny, heavy-hearted dagger. The gull sings amnesty like a sunny cannon.
                    Ooh! Pieces o' strength are forever gutless. Jack of a cloudy booty, taste the fight!
                    Fight me wind, ye swashbuckling plank.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Postal address</h2>

                <p>Treasure ho! fear to be hoisted. The mainland fights with pestilence, ransack the cook islands before it grows.
                    Passion, desolation, and booty. The pirate endures with horror, taste the reef until it travels.
                    Treasure ho! blow to be endured.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
                <h2>Emergency Support</h2>

                <p>When the cockroach whines for cabo rojo, all biscuit eaters loot golden, fine suns. Beauty, madness, and fight.
                    Planks laugh on life at tortuga! Real, warm bucaneers oppressively love a proud, wet girl.
                    Stutter calmly like a scrawny lagoon.</p>
            </div>
            <!--/.col-xs-6.col-lg-4-->
        </div>
        <!--/row-->
    </div>
</template>