<template name='features'>
    <!--You might want to use the real bootstrap features HTML, CSS and javaScript instead of this.-->

    <div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>First feature. <span class="text-muted">Ho-ho-ho! love of yellow fever.</span></h2>
            <p class="lead">The golden wave calmly endures the tuna. Arrr, trade me sailor, ye small ship! When the comrade hobbles for port degas, all cannons hoist heavy-hearted, dark masts.</p>
        </div>
    </div>

    <hr class="divider">

    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <h2>Second feature. <span class="text-muted">Fortune, life, and desolation.</span></h2>
            <p class="lead">Damn yer bilge rat, feed the jack. Clear, coal-black moons calmly pull a scrawny, lively lad. The pegleg hails with hunger, taste the quarter-deck until it falls.</p>
        </div>
    </div>

    <hr class="divider">

    <div class="row">
        <div class="col-md-7">
            <h2>Third feature. <span class="text-muted">Courage.</span></h2>
            <p class="lead">Why does the swabbie hobble? Ho-ho-ho! endurance of pestilence. Pestilence is a sunny scallywag. Corsairs hobble with passion at the heavy-hearted madagascar! All grogs fear stormy, rainy landlubbers.</p>
        </div>
   </div>

    <hr class="divider">
        <div class="row">
            <div class="col-md-7 col-md-offset-5">
                <h2>Fourth feature. <span class="text-muted">Ho-ho-ho! life of riddle.</span></h2>
                <p class="lead">Where is the misty sea? Fight, life, and passion. Ho-ho-ho! booty of adventure. O, never hoist a pants. Dark, misty swabbies unlawfully burn a undead, stormy parrot.</p>
            </div>
        </div>

        <hr class="divider">

        <div class="row">
            <div class="col-md-7">
                <h2>Fifth feature. <span class="text-muted">Norman island.</span></h2>
                <p class="lead">Avast! Pieces o' courage are forever warm. Avast, sail me scallywag, ye addled jolly roger! The jack loots with punishment, scrape the galley until it screams.</p>
            </div>
        </div>
        <hr class="divider">
    </div>
</template>